In [24]:
import pandas as pd
import numpy as np

In [1]:
ds = [
    ['Sunny','Hot','High','Weak','No'],
    ['Sunny','Hot','High','Strong','No'],
    ['Overcast','Hot','High','Weak','Yes'],
    ['Rain','Mild','High','Weak','Yes'],
    ['Rain','Cool','Normal','Weak','Yes'],
    ['Rain','Cool','Normal','Strong','No'],
    ['Overcast','Cool','Normal','Strong','Yes'],
    ['Sunny','Mild','High','Weak','No'],
    ['Sunny','Cool','Normal','Weak','Yes'],
    ['Rain','Mild','Normal','Weak','Yes'],
    ['Sunny','Mild','Normal','Strong','Yes'],
    ['Overcast','Mild','High','Strong','Yes'],
    ['Overcast','Hot','Normal','Weak','Yes'],
    ['Rain','Mild','High','Strong','No'],
]

In [8]:
df = pd.DataFrame(ds,columns=['Outlook','Temperature','Humidity','Wind','Play'])
df.head()

    Outlook Temperature Humidity    Wind Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Mild     High    Weak  Yes
4      Rain        Cool   Normal    Weak  Yes

In [12]:
outlook = df[['Outlook','Play']]
outlook.head()

    Outlook Play
0     Sunny   No
1     Sunny   No
2  Overcast  Yes
3      Rain  Yes
4      Rain  Yes

In [18]:

outlook_freq = pd.crosstab(df['Outlook'], df['Play'])
temp_freq = pd.crosstab(df['Temperature'], df['Play'])
humidity_freq = pd.crosstab(df['Humidity'], df['Play'])
wind_freq = pd.crosstab(df['Wind'], df['Play'])

In [19]:
outlook_freq

Play      No  Yes
Outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [20]:
temp_freq

Play         No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [21]:
humidity_freq

Play      No  Yes
Humidity
High       4    3
Normal     1    6

In [22]:
wind_freq

Play    No  Yes
Wind
Strong   3    3
Weak     2    6

In [30]:
outlook_freq_likelihood = pd.crosstab(df['Outlook'], df['Play'],normalize='index')
temp_freq_likelihood = pd.crosstab(df['Temperature'], df['Play'],normalize='index')
humidity_freq_likelihood = pd.crosstab(df['Humidity'], df['Play'],normalize='index')
wind_freq_likelihood = pd.crosstab(df['Wind'], df['Play'],normalize='index')

In [31]:
outlook_freq_likelihood

Play       No  Yes
Outlook
Overcast  0.0  1.0
Rain      0.4  0.6
Sunny     0.6  0.4

In [32]:
temp_freq_likelihood

Play               No       Yes
Temperature
Cool         0.250000  0.750000
Hot          0.500000  0.500000
Mild         0.333333  0.666667

In [33]:
humidity_freq_likelihood

Play            No       Yes
Humidity
High      0.571429  0.428571
Normal    0.142857  0.857143

In [34]:
wind_freq_likelihood

Play      No   Yes
Wind
Strong  0.50  0.50
Weak    0.25  0.75

In [42]:
from sklearn.metrics import accuracy_score

X = df.drop('Play', axis=1)
y = df['Play']

outlook_freq_train = pd.crosstab(X['Outlook'], y)
temp_freq_train = pd.crosstab(X['Temperature'], y)
humidity_freq_train = pd.crosstab(X['Humidity'], y)
wind_freq_train = pd.crosstab(X['Wind'], y)

p_yes_train = y.value_counts(normalize=True)['Yes']
p_no_train = y.value_counts(normalize=True)['No']

def predict_test(outlook, temperature, humidity, wind):
    p_yes_given_x = (outlook_freq_likelihood.loc[outlook, 'Yes']) \
                    * (temp_freq_likelihood.loc[temperature, 'Yes']) \
                    * (humidity_freq_likelihood.loc[humidity, 'Yes']) \
                    * (wind_freq_likelihood.loc[wind, 'Yes']) \
                    * p_yes_train
    p_no_given_x = (outlook_freq_likelihood.loc[outlook, 'No']) \
                   * (temp_freq_likelihood.loc[temperature, 'No']) \
                   * (humidity_freq_likelihood.loc[humidity, 'No']) \
                   * (wind_freq_likelihood.loc[wind, 'No']) \
                   * p_no_train
    if p_yes_given_x > p_no_given_x:
        return 'Yes'
    else:
        return 'No'

y_pred = X.apply(lambda x: predict_test(x['Outlook'], x['Temperature'], x['Humidity'], x['Wind']), axis=1)

print(y_pred)

0     Yes
1      No
2     Yes
3     Yes
4     Yes
5     Yes
6     Yes
7     Yes
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13    Yes
dtype: object